<!-- app/templates/trader/pendingOrders.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Pending orders{% endblock %}
{% block body %}
<div class="container">
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Pending orders</h1>
        {% if pendingOrders != None %}
          <hr class="intro-divider">
          <div class="row" style="height: 360px; overflow: auto">
            <table class="table">
              <thead>
                <tr>
                  <th width="20%"> Order ID </th>
                  <th width="20%"> Client ID </th>
                  <th width="15%"> BTC amount </th>
				  <th width="10%"> Type </th>
                  <th width="15%"> Approve </th>
                  <th width="15%"> Cancel </th>
                </tr>
              </thead>
              <tbody>
              {% for pendingOrder in pendingOrders %}
                <tr>
                  <td> {{ pendingOrder.xid }} </td>
                  <td> {{ pendingOrder.clientId }} </td>
                  <td> {{ pendingOrder.btc_amount }} </td>
				  <td> {{ "Buy" if pendingOrder.isBuy else "Sell" }} </td>
                  <td>
                    <a href="{{ url_for('trader.traderAction_order', action='Approve', xid=pendingOrder.xid) }}">
                      <i class="fa fa-check"></i><span class="label label-success">Approve</span>
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('trader.traderAction_order', action='Cancel', xid=pendingOrder.xid) }}">
                      <i class="fa fa-close"></i><span class="label label-danger">Cancel</span>
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3>No pending orders</h3>
            <hr class="intro-divider">
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
